body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero{
    background-image: url(imagens/bg-1.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding: 1px;
}

.hero-content{
    margin: 50px auto 0;
    width: 80%;
    text-align: center;
    color: #fff;
}

.hero-content h1{
    font-size: 56px;
    margin-right: 160px;
    text-shadow: 2px 2px 2px #000000;
    text-transform: uppercase;
}

.hero-content p{
   background-color: rgba(0, 0, 0, 0.7);
   font-size: 15px;
   display: inline-block;
   padding: 10px;
   border-bottom: 2px solid;
   margin-right: 160px;
   margin-top: 0;
}

.hero nav ul{
    margin: 20px 80px 0 0;
    padding-left: 50px;
}

.hero nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid #fff;
    margin-left: 16px;
}

.hero nav a{
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 13px;
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

main{
    width: 80%;
    margin: auto;
    max-width: 860px;
}

section{
    padding-top: 32px;
}

article{
    background-color: #fff;
    padding: 16px;
    margin-bottom: 32px;
}

article h2{
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

.btn{
    background-color: #cdc7c3;
    display: block;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin-left: auto;

}

.btn:hover{
    background-color: #838282;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 2px #000000;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .hero {
        height: 400px;
        background-position: center;
    }

    .hero-content h1, 
    .hero-content p {
        margin-right: 0; 
        font-size: 28px;
    }

    .hero nav ul {
        margin: 20px 0;
        padding: 0;
        text-align: center;
    }

    .hero nav li {
        margin: 5px;
    }

    main {
        width: 95%;
    }

    .btn {
        width: auto;
        margin-left: 0;
        text-align: center;
    }
}